@import './fonts';
// @import 'variables';
// @import 'bootstrap.css';
// @import '~bootstrap-vue/dist/bootstrap-vue.css';
@import './select';
@import './typography';

html {
  font-family: IRANSans, tahoma;
  background-color: #f5f5f5;
  font-size: 13px !important;
  font-weight: normal;
  overflow: auto;
}
bold,
strong {
  font-weight: 500;
}
.application,
.title,
.headline {
  font-family: IRANSans, tahoma !important;
}
ul {
  list-style-type: none;
}

// html,
// body,
// #__nuxt,
// #__layout {
//   height: 100%;
//   overflow: auto;
// }

*:focus {
  outline: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: #f5f5f5 !important;
  box-shadow: 0 0 0 30px #f5f5f5 inset;
}

.grecaptcha-badge {
  display: none;
}

.no-result {
  width: 100%;
  height: 100%;
  font-size: 2.675rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.strong,
.bold {
  font-weight: 700;
}

input:required {
  box-shadow: none;
}

header + main {
  margin-top: 70px;
}
.has-corona-toolbar {
  header + main {
    margin-top: 110px;
  }
}
svg {
  width: 24px;
  height: 24px;
}
.hide-md {
  @include media(md) {
    display: none !important;
  }
}
.hide-md-and-up {
  @include media(md-and-up) {
    display: none !important;
  }
}
.hide-lg {
  @include media(lg) {
    display: none !important;
  }
}
.hide-lg-and-up {
  @include media(lg-and-up) {
    display: none !important;
  }
}
.show-mobile {
  display: none !important;
  @include media(xs-only) {
    display: inherit !important;
  }
}
.hide-mobile {
  display: inherit !important;
  @include media(xs-only) {
    display: none !important;
  }
}
.svg-icon-white {
  path {
    fill: white;
  }
}
.primary--text {
  path {
    fill: var(--v-primary-base) !important;
  }
}
.v-btn.theme--light.yellow {
  color: #545456;
  font-weight: 400;
}

.web-svg {
  path {
    fill: #28db9b;
  }
}
.instagram-svg {
  path {
    fill: #ff6881;
  }
}
.telegram-svg {
  path {
    fill: #0ec7e5;
  }
}
.twitter-svg {
  path {
    fill: #2ee5c4;
  }
}
.facebook-svg {
  path {
    fill: #0e35e5;
  }
}
.instagram-hover-svg:hover {
  path {
    fill: #ff6881 !important;
  }
}
.telegram-hover-svg:hover {
  path {
    fill: #0ec7e5 !important;
  }
}
.twitter-hover-svg:hover {
  path {
    fill: #2ee5c4 !important;
  }
}
.facebook-hover-svg:hover {
  path {
    fill: #0e35e5 !important;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.doctor-suport {
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  span {
    direction: ltr;
    display: inline-block;
  }
}
