@import './fonts';
// @import 'variables';
// @import 'bootstrap.css';
// @import '~bootstrap-vue/dist/bootstrap-vue.css';
@import './select';

html {
  font-family: IRANSans, tahoma;
  background-color: #f5f5f5;
  font-size: 13px !important;
  font-weight: 300;
  overflow: auto;
}
.application,
.title,
.headline {
  font-family: IRANSans, tahoma !important;
}
ul {
  list-style-type: none;
}

// html,
// body,
// #__nuxt,
// #__layout {
//   height: 100%;
//   overflow: auto;
// }

*:focus {
  outline: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: #f5f5f5 !important;
  box-shadow: 0 0 0 30px #f5f5f5 inset;
}

.grecaptcha-badge {
  display: none;
}

.no-result {
  width: 100%;
  height: 100%;
  font-size: 2.675rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.strong,
.bold {
  font-weight: 700;
}

input:required {
  box-shadow: none;
}

header + main {
  margin-top: 70px;
}

svg {
  width: 24px;
  height: 24px;
}

.show-mobile {
  display: none !important;
  @include media(xs-only) {
    display: inherit !important;
  }
}
.hide-mobile {
  display: inherit !important;
  @include media(xs-only) {
    display: none !important;
  }
}
.svg-icon-white {
  path {
    fill: white;
  }
}
.primary--text {
  path {
    fill: var(--v-primary-base) !important;
  }
}
.v-btn.theme--light.yellow {
  color: #545456;
  font-weight: 400;
}
