@import 'responsive';
$bright-sky-blue: #13d2f3;
$light-gold: #febe10;
$light-navy-blue: #2d527c;
$bronze: #545456;
$tealish: #35d6c1;
$red: #f44336;
$primary-color: #13d2f3;
$secondary-color: #35d6c1;
$primary-color-p: #13d2f3;
$azure: #00aae2;
$dark-blue-grey: #232154;
